@using System.Collections
@model List<QAgoraForum.Models.Message>


<button data-toggle="dropdown" class="dropdown-toggle btn btn-default navbar-btn" href="#">
    <i class="icon-envelope-l"></i>
    @if (Model.Count > 0)
    {
        <span class="badge bg-important">@Model.Count</span>
    }
</button>
<ul class="dropdown-menu extended inbox">
    <div class="log-arrow-up"></div>
    <li class="eborder-top"><b>Messages</b></li>
    @if (Model.Count > 0)
    {
        foreach (var item in Model)
        {
            <li id="mailNotify" messageId="@item.Id" class="hvr-sweep-to-bottom">
                <div style="font-weight: bold;">@item.From</div>
                <div>@item.content ...</div> 
            </li>
        }
    }
    else
    {
        <p>Brak nowych wiadomości</p>
    }
    <li class="hvr-sweep-to-bottom">
        @Html.ActionLink("Wszystkie wiadomości", "Index", "Messages", null, null)
    </li>
</ul>

