@model QAgoraForum.Models.LoginViewModel
<div class="modal-header col-md-offset-4">
    <h4>Zaloguj się</h4>
</div>

    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-group col-md-offset-3">

            @Html.ValidationSummary(true)

            @Html.LabelFor(m => m.UserName, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.UserName)

            @Html.LabelFor(m => m.Password, new { @class = "control-label" })
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Password)


            <div class="col-md-offset-3">
                <div class="checkbox">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </div>
            </div>
            <input type="submit" value="Zaloguj" class="btn btn-default" />          
        </div>
    }
    <hr />
    @Html.ActionLink("Rejestruj", "Register"), jeśli nie masz konta lokalnego.
